body
{
    background-color: black;
    font-family: 'Yeon Sung', cursive;
    font-weight: 700;
    font-size: 23px; 
    letter-spacing: 2px;
}
#screen
        {
            width: 1500px;
            height: 900px;
            background-color: darkgray;
            margin-left: auto;
            margin-right: auto;
            border: solid;
        }
        #left_panel
        {
            width: 700px;
            height: 900px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #right_panel
        {
            width: 800px;
            height: 900px;
            float: left;
            box-sizing: border-box;
            border: solid; 
            padding: 1px;            
        }
        #dice
        {
            width: 345px;
            height: 100px;
            margin-right: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 5px;
        }
        #DT
        {
            width: 65px;
            height: 86px;
            float: left;
            text-align: center;
            box-sizing: border-box;
            padding: 5px;
        }
        #DR
        {
            width: 65px;
            height: 86px;
            float: left;
            text-align: center;
            box-sizing: border-box;
            padding: 5px;
        }
        input[type=number]
        {
            width: 40px;
            margin-top: 10px;
            border: solid;
            text-align: center;
        }
        #DK
        {
            width: 65px;
            height: 86px;
            float: left;
            text-align: center;
            box-sizing: border-box;
            padding: 5px;
        }
        select
        {
            margin-top: 10px;
            border: solid;
        } 
        #roll
        {
            width: 65px;
            height: 86px;
            float: left;    
            text-align: center;   
            box-sizing: border-box;
            padding: 5px;
        }
        button[name="roll"]
        {   
            height: 40px;
            margin-top: 28px;
            border-radius: 12px; 
            border: solid;
            background-color: white;
        }
        #score
        {
            width: 69px;
            height: 86px;
            float: left;
            text-align: center;
            box-sizing: border-box;
            padding: 5px;
        }
        input[name="score"]
        {
            height: 15px;
            width: 45px;
            margin-top: 10px; 
            border: solid;           
        }
        #forClear
        {
            clear: both;
        }
        #music
        {
            width: 345px;
            height: 100px;
            margin-bottom: 2px;
            float: left;            
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #names_generator
        {   height: 100px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
            clear: both;
            border: solid;
            padding: 1px;
        }
        fieldset[id="names"]
        {
            height: 95px;
            border-color: black;  
            box-sizing: border-box;
        }
        fieldset[id="gender"]
        {
            height: 40px;
            width: 80px;
            border-color: black;
            margin-left: 10px;            
            margin-top: -40px;
            float: left;
        }
        #f
        {
            width: 35px;
            float: left;
        }
        #m
        {
            width: 40px;
            float: left;
        }
        #fantasy
        {
            width: 85px;
            height: 30px;
            float: left;
        }
        #latin
        {
            width: 85px;
            height: 30px;
            float: left;
        }
        #semic
        {
            width: 85px;
            height: 30px;
            float: left;
        }
        #japanese
        {
            width: 85px;
            height: 30px;
            clear: both;
        }
        #celtic
        {
            width: 85px;
            height: 30px;
            float: left;
        }
        #mythology
        {
            width: 90px;
            height: 30px;
            float: left;
        }
        legend
        {
            font-size: 15px;
            height: auto;
        }
        div[name="name_generator"]
        {
            width: 60px;
            height: 50px;
            float: left;
            font-size: 12px;
        }
        div[id="generate_button"]
        {
            width: 50px;
            height: 60px;
            margin-top: -30px;
            margin-left: 15px;
            float: left;
            background-color: rgb(75, 4, 16);
        }
        div[id="name"]
        {
            width: 170px;
            height: 60px;
            margin-top: -13px;
            margin-left: 10px;
            float: left;
        }
        input[name="name"]
        {
            border-color: black;
            border: solid;
        }
        #generate_button
        {
            height: 40px;
            /*margin-top: 28px;*/
            border-radius: 12px; 
            border: solid;
            background-color: white;
        }
        #enemies
        {   width: 345px;
            height: 100px;
            margin-right: 2px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #weapons
        {   width: 345px;
            height: 100px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #session_plan
        {
            width: 345px;
            height: 585px;
            margin-right: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #notes
        {
            width: 345px;
            height: 585px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #sheets
        {
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
            clear: both;
            border: solid;
            padding: 1px;
        }
        #pinups
        {
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
            clear: both;
            border: solid;
            padding: 1px;
        }
        #graphics
        {
            width: 350px;
            height: 73px;
            margin-right: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        button[name="graphics"]
        {   
            height: 60px;
            width: 250px;
            margin-left: 40px;
            margin-top: 2.5px;
            margin-bottom: 5px;
            border-radius: 12px; 
            border: solid;
            background-color: gray;
        }
        #back_button
        {
            width: 245px;
            height: 73px;
            float: right;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        button[name="back"]
        {   
            height: 60px;
            width: 150px;
            margin-left: 40px;
            margin-top: 2.5px;
            margin-bottom: 5px;
            border-radius: 12px; 
            border: solid;
            background-color: gray;
        }
 
