body
{
    background-color: black;
    font-family: 'Yeon Sung', cursive;
    font-weight: 700;
    font-size: 25px; 
    letter-spacing: 2px;
}
#screen
        {
            width: 1500px;
            height: 900px;
            background-color: darkgray;
            margin-left: auto;
            margin-right: auto;
            border: solid;
        }
        #left_panel
        {
            width: 700px;
            height: 900px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #right_panel
        {
            width: 800px;
            height: 900px;
            float: left;
            box-sizing: border-box;
            border: solid; 
            padding: 1px;            
        }
        #dice
        {
            width: 345px;
            height: 100px;
            margin-right: 2px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 10px;
        }
        #music
        {
            width: 345px;
            height: 100px;
            margin-bottom: 2px;
            float: left;            
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #m_names
        {   width: 345px;
            height: 100px;
            margin-right: 2px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #f_names
        {   width: 345px;
            height: 100px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #enemies
        {   width: 345px;
            height: 100px;
            margin-right: 2px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #weapons
        {   width: 345px;
            height: 100px;
            margin-bottom: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #session_plan
        {
            width: 345px;
            height: 585px;
            margin-right: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #notes
        {
            width: 345px;
            height: 585px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #sheets
        {
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
            clear: both;
            border: solid;
            padding: 1px;
        }
        #pinups
        {
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1px;
            clear: both;
            border: solid;
            padding: 1px;
        }
        #graphics
        {
            width: 350px;
            height: 73px;
            margin-right: 2px;
            float: left;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
        #back_button
        {
            width: 245px;
            height: 73px;
            float: right;
            box-sizing: border-box;
            border: solid;
            padding: 1px;
        }
