<!DOCTYPE HTML>
<html lang="pl" ng-app="GMS">
<head>
    <meta charset="utf-8"/>
    <title>Ekran Mistrza Gry</title>
    <meta name="description" content="Aplikacja stanowi pomoc dla Mistrzów Gry
    podczas prowadzenia sesji RPG"/>
    <meta name="keywords" content="RPG, ekran mistrza gry, mistrz gry, MG"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="/app.js"></script>
    <script src="/controllers/dice.controller.js"></script>
    <script src="/controllers/enemy.controller.js"></script>

</head>
<body>
<div class="container">
    <div class="screen">
        <div class="panels">
            <div class="row">
                <div class="signle_div" id="rollDiv" style="margin-left: 5px;" ng-controller="DiceCtrl">
                    <div class="in_divs">
                        <label>DT</label>
                        <select id="DT" ng-model="dt" input class="inputs">
                            <option value="4">D4</option>
                            <option value="6">D6</option>
                            <option value="10">D10</option>
                            <option value="100">D100</option>
                        </select>
                    </div>
                    <div class="in_divs">
                        <label>DR<input id="DR" ng-model="dr" class="inputs" type="number" min="1" max="10"></label>
                    </div>
                    <div class="in_divs">
                        <label>DK<input id="DK" ng-model="dk" class="inputs" type="number" min="1" max="10"></label>
                    </div>
                    <div class="in_divs" id="rollButtonDiv">
                        <button id="rollButton" class="roll_button" ng-click="rollDice()">ROLL</button>
                    </div>
                    <div class="in_divs">
                        <label>Score 
                            <input id="Score" ng-model="result" class="inputs" type="text" style="width: 55px">
                        </label>
                    </div>
                </div>
                <div class="signle_div" style="margin-right: 5px;">
                    <div class="music_div">
                        <button class="music_btn"><img src="/images/play_b.png" height="50" width="50"></button>
                    </div>
                    <div class="music_div">
                        <button class="music_btn"><img src="/images/pause_b.png" height="50" width="50"></button>
                    </div>
                    <div class="music_div">
                        <button class="music_btn"><img src="/images/stop_b.png" height="50" width="50"></button>
                    </div>
                    <div class="music_div">
                        <button class="music_btn"><img src="/images/browse_b.png" height="50" width="50"></button>
                    </div>
                </div>
            </div>
            <div class="names_row">
                <fieldset class="names_fieldset">
                <legend>Names generator</legend>
                <div class="whole_name_row">
                    <div class="names_div">
                        <label><input type="checkbox">Fantasy</label>
                        <label><input type="checkbox">Japanese</label>
                        <label><input type="checkbox">Mythology</label>
                        <label><input type="checkbox">Semic</label>
                        <label><input type="checkbox">Irish</label>
                        <label><input type="checkbox">Scothis</label>
                    </div>
                    <div class="gender_type_div">
                    <fieldset class="gender_fieldset">
                        <legend>Gender</legend>
                        <div class="gender_buttons">
                        <input type="radio" name="male-female" id="female">
                        <label for="female">F</label>
                        <input type="radio" name="male-female" id="male">
                        <label for="male">M</label>
                        </div>
                    </fieldset>
                    </div>
                    <div class="names_go_button_div">
                        <button class="names_go_button">GO</button>
                    </div>
                    <div class="name_output_div">
                        The name is:
                        <input class="inputs" type="text">
                    </div>
                </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="signle_div" ng-controller="EnemyCtrl" style="margin-left: 5px;">
                    <div class="in_divs">
                        <label>Diff</label>
                        <select id="Level" ng-model="level" input class="inputs" style="width: 65px;">
                            <option value ="easy">easy</option>
                            <option value ="medium">medium</option>
                            <option value ="high">high</option>
                        </select>
                    </div>
                    <div class="in_divs">
                        <button id='enemyGenerateButton' class="roll_button" ng-click="generateEnemy()" style="margin-left: 10px;">GO</button>
                    </div>
                    <div class="in_divs">
                        <label>HP<input id='HP' ng-model="hp" class="inputs" type="text" style="width: 45px"></label>
                    </div>
                    <div class="in_divs">
                        <label>STR<input id ='STR' ng-model="str" class="inputs" type="text" style="width: 45px"></label>
                    </div>
                    <div class="in_divs">
                        <label>Armor<input id='armor' ng-model="armor" class="inputs" type="text" style="width: 45px"></label>
                    </div>
                </div>
                <div class="signle_div" style="margin-right: 5px;">
                    <div class="in_divs">
                        <label>List</label>
                            <select name="List" input class="inputs" style="width: 65px;">
                                <option>bow</option>
                                <option>sword</option>
                            </select>
                    </div>
                    <div class="in_divs">
                        <fieldset class="type_fieldset">
                        <legend>Type</legend>
                        <label><input type="checkbox">M</label>
                        <label><input type="checkbox">R</label>
                    </fieldset>
                    </div>
                    <div class="in_divs">
                        <label>DR<input class="inputs" type="text" style="width: 45px"></label>
                    </div>
                    <div class="in_divs">
                        <label>DK<input class="inputs" type="text" style="width: 45px"></label>
                    </div>
                </div>
            </div>
            <div class="left_big_row">
                <div class="session_notes_plan" style="margin-left: 5px;">
                    <div class="session_notes_field">
                        <input class="session_notes_inputs" type="text">
                    </div>
                    <div class="session_notes_buttons_row">
                        <button class="session_notes_buttons">BROWSE</button>
                    </div>
                </div>
                <div class="session_notes_plan" style="margin-right: 5px;">
                    <div class="session_notes_field">
                        <input class="session_notes_inputs" type="text">
                    </div>
                    <div class="session_notes_buttons_row">
                        <button class="session_notes_buttons">BROWSE</button>
                        <button class="session_notes_buttons">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panels">
            <div class="right_panels">
                <div class="sheets_pinups_buttons_row">
                    <button class="sheets_pinups_button">BROWSE</button>
                </div>
                <div class="sheets_pinups_div">
                    <input class="sheets_pinups_field" type="text">
                </div>
            </div>
            <div class="right_panels">
                <div class="sheets_pinups_buttons_row">
                    <button class="sheets_pinups_button">ADD</button>
                    <button class="sheets_pinups_button">DEL</button>
                </div>
                <div class="sheets_pinups_div">
                    <input class="sheets_pinups_field" type="text">
                </div>
            </div>
            <div class="buttons_row">
                <div class="graphics">
                    <button class="graphic_button">GRAPHICS</button>
                </div>
                <div class="space_div"></div>
                <div class="back">
                    <button class ="back_button">BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
