body
{
    height: 100%;
    background-color: black;
    font-family: 'Yeon Sung', cursive;
    font-weight: 700;
    font-size: 23px;
    margin: 0 auto;
}
.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}
.screen
{
    width: 75%;
    min-height: 95%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    background-color: darkgrey;
}
.panels
{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid black;
}
.row
{
    height: 11%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.names_row
{
    height: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 5px 5px 5px;
    border: solid black;
}
.left_big_row
{
    height: 65%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
.right_panels
{
    height: 44%;
    margin-top: 5px;
    border: solid black;
}
.single_div
{
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black;
}
.in_divs
{
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 8px;
}
.inputs
{
    margin-top: 10px;
    border: solid black;
    text-align-last: center; 
}
.roll_button
{
    width: 70%;
    height: 50%;
    font-family: 'Yeon Sung', cursive;
    font-size: 15px;
    font-style: bold;
    border-radius: 25px;
    border: solid black;
    margin-top: 25px;
    background-color: white;
}
.roll_button:hover
{
  background-color: gray;
}
.music_div
{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.music_btn
{
    background-color: darkgray;
}
.names_fieldset
{
    width: 98%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 17px;
    margin-top: -6px;
    border:2px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.whole_name_row
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.names_div
{
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 14px;
    margin-top: -5px;
}
.gender_fieldset
{
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: 20px;
    border:2px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin-top: -5px;
}
.gender_type_div
{
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    margin-top: -5px;
}
.gender_buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -5px;
}
.names_go_button_div
{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.names_go_button
{
    width: 50%;
    height: 65%;
    font-family: 'Yeon Sung', cursive;
    font-size: 15px;
    font-style: bold;
    border-radius: 50%;
    border: solid black;
    background-color: white;
}
.names_go_button:hover
{
    background-color:grey;
}
.name_output_div
{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    font-size: 18px;
    margin-top: -12px;
}
.type_fieldset
{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: 20px;
    border:2px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin-top: -5px;
}
.sessionPlan
{
    width: 48%;
    margin-left: 5px;
    border: solid black;
}
.session_notes_plan
{
    width: 48%;
    border: solid black;
}
.session_field
{
    width: 98;
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
    margin: 5px 5px 5px 5px;
}
.sessionPlanBrowse
{
    margin-top: -500px;
}
.notesBrowse
{
    margin-top: -500px;
}
#sessionPlanSelection
{
    margin-top: 55px;
    margin-left: 74px;
    width: 55%;
}
#notesSelection
{
    margin-top: 55px;
    margin-left: 74px;
    width: 55%;
}
.session_notes_field
{
    width: 98;
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
    margin: 5px 5px 5px 5px;
}
.notes_inputs
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
}
.session_notes_buttons_row
{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 5px 5px 5px;
}
.session_plan_title_row
{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-left: 10px;
}
.session_plan_title_field
{
    width: 100%;
    height: 100%;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);    
}
.session_plan_notes_row
{
    width: 100%;
    height: 90%;
    margin-left: 10px;
}
.session_notes_buttons
{
    width: 40%;
    height: 7%;
    font-family: 'Yeon Sung', cursive;
    margin-top: 10px;
    font-size: 25px;
    font-style: bold;
    border-radius: 25px;
    border: solid black;
    background-color: gray;
}
.right_panels
{
    height: 45%;
    margin: 3px 5px 0px 5px;
}
.sheets_pinups_buttons_row
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 5px 5px 5px;
}
.sheets_left_panel
{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
    margin-bottom: 7px;
}
.sheets_right_panel
{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: inset 0px 5px 10px;
    background-color: rgb(200, 200, 200);
    margin-bottom: 7px;
}
.left_stats_row
{
    width: 100%;
    height: 13,5%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.notes_stats_row
{
    width: 100%;
    height: 20%;
    text-align: left;
    margin-top: 10px;
    margin-left: 12px;
}
.right_stats_row
{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.sheets_button
{
width: 20%;
height: 105%;
margin-top: -4px;
font-family: 'Yeon Sung', cursive;
font-size: 25px;
font-style: bold;
border-radius: 25px;
border: solid black;
background-color: gray;
}
.characterBrowse
{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    margin-top: -105px;
    margin-left: 285px;
}
.sheets_pinups_button
{
    width: 18%;
    height: 100%;
    margin-top: -4px;
    font-family: 'Yeon Sung', cursive;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    border-radius: 25px;
    border: solid black;
    background-color: gray;
}
.sheets_div
{
    width: 98;
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
}
.pinups_div
{
    width: 98;
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
}
.all_sheets
{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sheets_pinups_field
{
    width: 100%;
    height: 98%;
    margin-top: -4px;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
}
.buttons_row
{
    height: 7%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 5px 5px 5px;
}
.pinups_sheet
{
    width: 100%;
    height: 98%;
    margin-top: -4px;
    box-shadow: inset 5px 5px 10px;
    background-color: rgb(200, 200, 200);
}
.graphics
{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}
.graphic_button
{
    width: 60%;
    height: 70%;
    font-family: 'Yeon Sung', cursive;
    font-size: 25px;
    font-style: bold;
    border-radius: 25px;
    border: solid black;
    background-color: gray;
}
.space_div
{
    width: 33%;
}
.back
{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}
.back_button
{
    width: 50%;
    height: 70%;
    font-family: 'Yeon Sung', cursive;
    font-size: 25px;
    font-style: bold;
    border-radius: 25px;
    border: solid black;
    background-color: gray;
}
